<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>TuSegundazo.com</h2>
      <img src="../assets/img/header.png">
    </div>
  </div>


  <div class="row">
    <div class="col-md-7">
      <table class="table">
        <thead>
          <tr class="table-dark">
            <th scope="col">#</th>
            <th scope="col">Marca</th>
            <th scope="col">Linea</th>
            <th scope="col">Modelo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td></td>
          </tr>
        
        </tbody>
      </table>
    </div>

    <div class="col-md-5">

    </div>

  </div>
 
</div>
